/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
#dataGrid0 {	 width: 228px;	 height: 300px;	 top: 29px;	 left: 28px;	 position: absolute;	 }#dataGrid1 {	 width: 554px;	 height: 300px;	 top: 28px;	 left: 277px;	 position: absolute;	 }#label0 {	 width: 75px;	 height: 12px;	 top: 341px;	 left: 29px;	 position: absolute;	 }#textField0 {	 width: 794px;	 height: 179px;	 top: 358px;	 left: 29px;	 position: absolute;	 }#label1 {	 width: 75px;	 height: 12px;	 top: 12px;	 left: 28px;	 position: absolute;	 }#label2 {	 width: 75px;	 height: 12px;	 top: 11px;	 left: 277px;	 position: absolute;	 }