/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
#button0 {
	 width: 101px;
	 height: 28px;
	 top: 95px;
	 left: 131px;
	
	 position: absolute;
	 
}

#button1 {
	 width: 106px;
	 height: 28px;
	 top: 98px;
	 left: 469px;
	
	 position: absolute;
	 
}

#button2 {
	 width: 116px;
	 height: 28px;
	 top: 94px;
	 left: 826px;
	
	 position: absolute;
	 
}

#container0 {
	 width: 263px;
	 height: 321px;
	 top: 213px;
	 left: 55px;
	
	 position: absolute;
	 
}

#container1 {
	 width: 290px;
	 height: 317px;
	 top: 215px;
	 left: 392px;
	
	 position: absolute;
	 
}

#container2 {
	 width: 274px;
	 height: 313px;
	 top: 218px;
	 left: 755px;
	
	 position: absolute;
	 
}

