/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
input {
    outline: none;
    border: 1px solid #999;
    background:none;
    -webkit-border-radius: 5px;
}

.ui-jqgrid-labels .cbox, #mainUsersTable .cbox, #mainGroupsTable .cbox {
    display: none;
}

#mainGroupsTable td {
    padding-left:10px;
}

.ui-jqgrid-labels {
    height: 15px;
    
}

.ui-jqgrid-sortable {
    line-height:15px;
}

.ui-state-default.ui-th-column.ui-th-ltr {
    background-image:none;
}

.ui-jqgrid-hbox {
    /*background-image:url(/Resources/Web%20Components/common/images/Header_Center.png);
    background-repeat: repeat-x;
    background-position:10px -2px;*/
    
    background-color:#DCDCDC;
    border-bottom: 1px solid #999;
}

.ui-jqgrid-htable {
    width:100%;
}

.ui-row-ltr {
    height: 25px;
}

.ui-th-ltr {
    border-right: 1px solid #999;
}

.ui-jqgrid-hbox {
    width:100% !important;
}

.ui-jqgrid-sortable {
    text-align: left;
}

.ui-jqgrid-btable tr:nth-child(even) {
    background-color: #fff;
}

.ui-jqgrid-btable tr:nth-child(odd) { 
    background-color: #FAFAFA;
}

table, tr, td{
 border:1px solid black
}

.ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.jqgrow td {
    border:0px !important;
}

.ui-jqgrid .ui-jqgrid-htable th div {
    height: 17px;
    overflow: hidden;
    position: relative;
}


#administration-workspace-left-content, #administration-workspace-left-content-grp, #administration-workspace-bottom-content .administration-content, #administration-workspace-top-content-group, .gridBackground {
    /*background-image: url(../images/test.png);
    background-position:0px -2px;*/
    background-color:#fff;
    
}

#administration-workspace-top-content-group {
    display:none;
}

.ui-widget-content.jqgrow.ui-row-ltr.ui-state-highlight {
    background-color:#D7E6FF;
}

.userImagInGrid{
    height:20px;
    width:auto;
    margin-left:10px;
}

img.userImagInGrid {
   
}

.s-ico {
    padding:5px;
}

.ui-grid-ico-sort.ui-icon-asc.ui-icon.ui-icon-triangle-1-n.ui-sort-ltr {

}

.ui-grid-ico-sort.ui-icon-desc.ui-icon.ui-icon-triangle-1-s.ui-sort-ltr {
    padding-left:10px;
    padding-right:2px;
    background-image: url(../images/toggle-collapse-dark.png);
    background-repeat: no-repeat;
    background-position:-2px 100%;
}

#groupUsersGrid {
    display:none;
}

.studio-form-thumb {
    /*display:none;*/
}