<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>$(PRODUCT_NAME).icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.4d.wa$(FlagEnterprise)Server</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>9.0</string>
	<key>CFBundleShortVersionString</key>
	<string>(Automatically computed)</string>
	<key>CFBundleSignature</key>
	<string>waSE</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CSResourcesFileMapped</key>
	<false/>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>CFBundleGetInfoString</key>
	<string>$(PRODUCT_NAME) © 4D SAS, 2011-2014. All rights reserved.</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(PRODUCT_NAME) © 4D SAS, 2011-2014. All rights reserved.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Wakanda Generic.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.wakanda.solution</string>
				<string>com.4d.wakanda.solution-link</string>
				<string>com.4d.wakanda.file-link</string>
				<string>com.4d.wakanda.project</string>
				<string>com.4d.wakanda.setting</string>
				<string>com.4d.wakanda.db-model</string>
				<string>com.4d.wakanda.entity-models</string>
				<string>com.4d.wakanda.data</string>
				<string>com.4d.wakanda.index</string>
				<string>com.4d.wakanda.uag-directory</string>
				<string>com.4d.wakanda.uag-permissions</string>
				<string>com.4d.wakanda.rpc-catalog</string>
				<string>com.4d.wakanda.logfile</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.structure-file</string>
			<key>UTTypeDescription</key>
			<string>4D Structure File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.interpreted-structure-file</string>
			<key>UTTypeDescription</key>
			<string>4D interpreted Structure File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.4d.4d.structure-file</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>BAS5</string>
				<key>public.filename-extension</key>
				<array>
					<string>4DB</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.compiled-structure-file</string>
			<key>UTTypeDescription</key>
			<string>4D compiled Structure File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.4d.4d.structure-file</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>BASY</string>
				<key>public.filename-extension</key>
				<array>
					<string>4DC</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.database-package</string>
			<key>UTTypeDescription</key>
			<string>4D Database Package</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>4dbase</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.data-file</string>
			<key>UTTypeDescription</key>
			<string>4D Data File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>DAT5</string>
				<key>public.filename-extension</key>
				<array>
					<string>4dd</string>
					<string>data</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.index-data</string>
			<key>UTTypeDescription</key>
			<string>4D data indexes</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>4dindx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.index-structure</string>
			<key>UTTypeDescription</key>
			<string>4D structure indexes</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>4dindy</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.match</string>
			<key>UTTypeDescription</key>
			<string>4D structure info</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>match</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Wakanda Solution File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.solution</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>waSolution</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Wakanda Solution Link File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.solutions-link</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>waSolutionLink</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Wakanda File Link File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.files-link</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>waFileLink</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Wakanda Project File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.project</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>waProject</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Wakanda Settings File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.setting</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>waSettings</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Wakanda Database Catalog File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.db-model</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>waModel</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Wakanda Entity Models File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.entity-models</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>waEntityModels</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Wakanda Database Data File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.data</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>waData</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Wakanda Database Index File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.index</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>waIndex</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Wakanda Users And Groups Directory File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.uag-directory</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>waDirectory</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Wakanda Users And Groups Permissions File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.uag-permissions</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>waPerm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Wakanda Rpc Catalog File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.rpc-catalog</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>waRpc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Wakanda Web Component</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.directory</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.web-component</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>waComponent</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>CSS Style Sheet</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.css</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.mime-type</key>
				<string>text/css</string>
				<key>public.filename-extension</key>
				<array>
					<string>css</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>JSON Document</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.json</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.mime-type</key>
				<string>text/json</string>
				<key>public.filename-extension</key>
				<array>
					<string>json</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.symbol</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>waSym</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.symbol-data</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>waSymData</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.uag-cache</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cacheUAG</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.project-backup</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>waBackup</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.logfile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>waLog</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.4d.wakanda.page-folder</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>waPage</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
