/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
#dataGrid0 {	 width: 150px;	 height: 540px;	 top: 34px;	 left: 48px;	 position: absolute;	 }#dataGrid1 {	 width: 411px;	 height: 262px;	 top: 36px;	 left: 222px;	 position: absolute;	 }#dataGrid2 {	 width: 390px;	 height: 262px;	 top: 35px;	 left: 655px;	 position: absolute;	 }#label0 {	 width: 75px;	 height: 12px;	 top: 319px;	 left: 222px;	 position: absolute;	 }#textField0 {	 width: 819px;	 height: 235px;	 top: 336px;	 left: 222px;	 position: absolute;	 }