<!--
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
-->
<!DOCTYPE html>
<html>
<head>
  <title>Task Manager template</title>
  <meta http-equiv= "Content-Type" content="text/html; charset: utf-8"/>
</head>
<body>
<h1>Google Chart Template</h1>
<h2><img src="./preview.png" hspace="10" vspace="10" align="right" valign="top"/>level</h2>
<p> Easy</p>
<h2>Description</h2>
<p>This template shows how to create a google Chart Widget binded on a DataSource.</p>
<h2>Application Screenshots</h2>
<p><img src="readMe/screenshot.png" width="978" height="486"></p>
<h2>Tutorial</h2>
<ol>
  <li>In the Entity Model Editor, create an Entity Model with 2 attributes : one that contains the labels of the chart, the other contains the data<br>
    <br>
  <img src="readMe/EntityModel.PNG" width="196" height="147"><br>
  <br>
  </li>
  <li>in the GUI Designer :<br>
  </li>
</ol>
<ul>
  <li> Drag'n Drop the &quot;Google Chart&quot; Widget</li>
  <li>Drag'n Drop the Entity Model DataSource on the Widget or enter the name of the DataSource manually (here : &quot;GoogleChart&quot;)</li>
  <li>In the &quot;Labels Attrib.&quot; field, enter the name of the attribute that contains the labels of the chart (here : &quot;label&quot;)</li>
  <li>In  the &quot;Data Attrib.&quot; field, enter the name of the attribute that contains the values of the chart (here : &quot;data&quot;)</li>
  <li>Select a chart type (here : &quot;pie chart 3D&quot;)</li>
  <li>Enter the title of the chart (here : Pie Chart 3D&quot;)<br>
  </li>
</ul>
<blockquote>
  <p><img src="readMe/Widget.PNG" width="646" height="236"></p>
</blockquote>
<ol start="3">
  <li>Create a Grid or an Auto Form to create Data<br>
    <br>
  </li>
  <li>Launch the server and launch the page that contains the Google Chart<br>
    <br>
    <img src="readMe/launch.PNG" width="130" height="59"><br>
    <br>
  </li>
  <li> Enter a few data in the Grid<br>
    <br>
    <img src="readMe/data.PNG" width="311" height="311"><br>
    <br>
  </li>
  <li>The Google Chart widget updates automatically when the DataSource Changes</li>
</ol>
<blockquote>
  <p><img src="readMe/result.PNG" width="268" height="134"></p>
</blockquote>
<h2><br>
</h2>
<h3>&nbsp;</h3>
</body>
</html>