<!--
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
-->
<!DOCTYPE html>
<html>
<head>
  <title>Task Manager template</title>
  <meta http-equiv= "Content-Type" content="text/html; charset: utf-8"/>
</head>
<body>
<h1>Task Manager template</h1>
<h2><img src="./preview.png" hspace="10" vspace="10" align="right" valign="top"/>level</h2>
<p> easy</p>
<h2>Description</h2>
<p>This template shows how you can create from scratch and run a simple editable Task List in less than 90 seconds</p>
<!-- p>This project template shows the running results of the tutorial available bellow.</p -->
<h2>Introduced technologies</h2>
<ol>
  <li> Datastore Datastore Classes</li>
  <li> Data Sources and Datagrids</li>
</ol>
<!-- h2>Tutorial</h2>
<h3>Create a blank project</h3>
<ol>
<li>click on the &quot;new project&quot; button (<img src="./readMe/newProject.png" alt="new project button" width="24" height="24" align="absmiddle">)</li>
    <li>hit the "enter" key to use the default blank project</li>
    <li>give it a name (ex: &quot;task manager&quot;)</li></ol>
  <p><img src="./readMe/create project.png" alt="create a project" width="400" height="291"/></p>
</p>
<h3>Create the data Model</h3>
<ol>
    <li>click on the "Catalog" button  (<img src="readMe/catalog.png" alt="catalog button" width="24" height="24" align="absmiddle">).<br>
    <em>It opens the Entity Model editor.</em></li>
    <li>write &quot;task&quot; and hit the &quot;enter&quot; key. <br>
    <em>It creates the &quot;task&quot; Model </em><em>with a default &quot;ID&quot; attribute, and give the focus for its second attribute name</em>.</li>
    <li>write &quot;todo&quot; and hit the &quot;enter&quot; key 3 times. <br>
    <em>It creates the &quot;todo&quot; attribute as a string by default.</em></li>
    <li>write &quot;expires&quot;, hit &quot;enter&quot;, hit &quot;d&quot;, hit &quot;enter&quot;. <br>
    <em>It creates the &quot;expires&quot; attribute as a date (autocompleted from &quot;d&quot;)</em></li>
    <li>close the editor and click &quot;Save&quot; to save the Model.</li>
</ol>
<p><img src="readMe/create model.png" alt="create a data model" width="400" height="268"/></p>
<p>&nbsp; </p>
<h3>Create the Grafic User Interface</h3>
<ol>
<li>click on the "Main UI" button  (<img src="readMe/main ui.png" alt="main UI button" width="24" height="24" align="absmiddle">).<br>
  <em>it opens the main interface file (ex: &quot;index.html&quot;) in the GUI Designer</em>.</li>
</ol>
<h4>Create the &quot;author&quot; datagrid</h4>
<ol>
  <li>drag and drop the &quot;Grid&quot; widget from the widgets panel to the blank workspace<br>
    <img src="readMe/grid icon.png" width="166" height="53" alt="datagrid icon"></li>
  <li>drag and drop the &quot;task&quot; model from the data source panel to the Grid widget you just created.<br>
    <em>The grid is automatically binded to your &quot;task&quot; data model.</em></li>
</ol>
<h4>Save  the user interface</h4>
<ol>
  <li>close the designer and click &quot;Save&quot; to save your interface</li>
</ol>
<p><img src="readMe/create interface.png" alt="create a graphic user interface" width="400" height="239"/>
</p>
<p>&nbsp;</p>
<h3>Use the application</h3>
<ol>
<li>click on the &quot;run project&quot; button  (<img src="readMe/runProject.png" alt="run project button" width="24" height="24" align="absmiddle">)</li>
    <li>use your application application</li>
  </ol>
</p -->
<img src="readMe/running application.png" alt="create a data model" width="400" height="264"/>
</body>
</html>