#richText0 {
	 width: 829px;
	 height: 94px;
	 top: 73px;
	 left: 110px;
	 position: absolute;
	 
}

#richText1 {
	 width: 829px;
	 height: 94px;
	 top: 143px;
	 left: 111px;
	 position: absolute;
	 
}

#richText2 {
	 width: 829px;
	 height: 94px;
	 top: 212px;
	 left: 110px;
	 position: absolute;
	 
}

#richText3 {
	 width: 829px;
	 height: 94px;
	 top: 280px;
	 left: 111px;
	 position: absolute;
	 
}

#richText5 {
	 width: 868px;
	 height: 35px;
	 top: 18px;
	 left: 38px;
	 position: absolute;
	 font-size: 23px;
	 
}

#autoForm0 {
	 width: 250px;
	 height: 250px;
	 top: 342px;
	 left: 109px;
	 position: absolute;
	 
}

#dataGrid0 {
	 width: 300px;
	 height: 300px;
	 top: 343px;
	 left: 368px;
	 position: absolute;
	 
}

#queryForm0 {
	 width: 250px;
	 height: 150px;
	 top: 342px;
	 left: 677px;
	 position: absolute;
	 background-image:-webkit-gradient(linear,0% 0%, 100% 0%,color-stop(0, rgb(83,11,160)),color-stop(1, rgb(0,255,255)));
	 background-image:-webkit-linear-gradient(left, rgb(83,11,160) 0%,rgb(0,255,255) 100%);
	 background-image:-moz-linear-gradient(left, rgb(83,11,160) 0%,rgb(0,255,255) 100%);
	 background-image:-ms-linear-gradient(left, rgb(83,11,160) 0%,rgb(0,255,255) 100%);
	 background-image:-o-linear-gradient(left, rgb(83,11,160) 0%,rgb(0,255,255) 100%);
	 background-image:linear-gradient(left, rgb(83,11,160) 0%,rgb(0,255,255) 100%);
	 
}

#button0 {
	 width: 82px;
	 height: 28px;
	 top: 501px;
	 left: 678px;
	 position: absolute;
	 
}

#label0 {
	 width: 75px;
	 height: 14px;
	 top: 505px;
	 left: 796px;
	 position: absolute;
	 
}

#checkbox0 {
	 width: 18px;
	 height: 18px;
	 top: 505px;
	 left: 773px;
	 position: absolute;
	 
}

#label1 {
	 width: 75px;
	 height: 14px;
	 top: 541px;
	 left: 683px;
	 position: absolute;
	 
}

#radio0 {
	 width: 100px;
	 height: 25px;
	 top: 541px;
	 left: 763px;
	 position: absolute;
	 
}

#menuBar0 {
	 width: 300px !important;
	 height: 26px !important;
	 top: 566px !important;
	 left: 678px !important;
	 position: absolute;
	 
}

#label2 {
	 width: 75px;
	 height: 14px;
	 top: 598px;
	 left: 599px;
	 position: absolute;
	 
}

#combobox0 {
	 width: 153px;
	 height: 25px;
	 top: 598px;
	 left: 679px;
	 position: absolute;
	 
}

#slider0 {
	 width: 200px;
	 height: 15px;
	 top: 630px;
	 left: 680px;
	 position: absolute;
	 
}

#label3 {
	 width: 75px;
	 height: 14px;
	 top: 602px;
	 left: 125px;
	 position: absolute;
	 
}

#textField0 {
	 width: 153px;
	 height: 25px;
	 top: 602px;
	 left: 205px;
	 position: absolute;
	 
}

#label4 {
	 width: 88px;
	 height: 14px;
	 top: 647px;
	 left: 367px;
	 position: absolute;
	 
}

#progressBar0 {
	 width: 300px;
	 height: 15px;
	 top: 666px;
	 left: 367px;
	 position: absolute;
	 
}

#image0 {
	 width: 241px;
	 height: 155px;
	 top: 662px;
	 left: 114px;
	 position: absolute;
	 background-image: url('/images/Chrysanthemum.jpg');
	 -webkit-box-shadow: rgb(0, 0, 0) 0px 1px 15px 1px;
	 -moz-box-shadow: rgb(0, 0, 0) 0px 1px 15px 1px;
	 box-shadow: rgb(0, 0, 0) 0px 1px 15px 1px;
	 border-top-left-radius: 233px 233px;
	-moz-border-radius-topleft: 233px 233px;
	 border-top-right-radius: 233px 233px;
	-moz-border-radius-topright: 233px 233px;
	 border-bottom-right-radius: 233px 233px;
	-moz-border-radius-bottomright: 233px 233px;
	 border-bottom-left-radius: 233px 233px;
	-moz-border-radius-bottomleft: 233px 233px;
	 background-repeat: no-repeat;
	 
}

#component0 {
	 width: 200px;
	 height: 200px;
	 top: 658px;
	 left: 682px;
	 position: absolute;
	 background-image:-webkit-gradient(linear,0% 0%, 100% 0%,color-stop(0, rgb(191,0,95)),color-stop(1, rgba(255,255,255,0)));
	 background-image:-webkit-linear-gradient(left, rgb(191,0,95) 0%,rgba(255,255,255,0) 100%);
	 background-image:-moz-linear-gradient(left, rgb(191,0,95) 0%,rgba(255,255,255,0) 100%);
	 background-image:-ms-linear-gradient(left, rgb(191,0,95) 0%,rgba(255,255,255,0) 100%);
	 background-image:-o-linear-gradient(left, rgb(191,0,95) 0%,rgba(255,255,255,0) 100%);
	 background-image:linear-gradient(left, rgb(191,0,95) 0%,rgba(255,255,255,0) 100%);
	 background-color: rgb(32, 163, 163);
	 
}

#image6 {
	 width: 273px;
	 height: 172px;
	 top: 702px;
	 left: 381px;
	 position: absolute;
	 background-image: url('/images/Jellyfish.jpg');
	 background-repeat: no-repeat;
	 
}

