/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
body {
    margin: 0px;
}

body * {
    font: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-align: inherit;
    color: inherit;
    
    
}

html {
    
    -webkit-user-drag: none;
    
}

/* layouts  */   

#administration-header {
    height: 28px;
    width: 100%;
    background-image: url(../images/Header_Center.png);
    background-repeat: repeat-x;
    
    display: none;    /*mod */ 
}

.administration-header {
    height: 28px;
    width: 100%;
    background-image: url(../images/Header_Center.png);
    background-repeat: repeat-x;
   
    top:-3px;
    
    line-height:30px;
}







#administration-workspace-left .administration-header  {
    border-right: 1px solid #999;
    width: 99.99%;
}

.administration-header input {
    float:right;
    margin-top: 5px;
    margin-right: 10px;
}

#administration-workspace-left .administration-header input {
    width:200px;
}

#administration-workspace-bottom-content .administration-header {
    top:0px;
}

#administration-workspace-bottom-content .administration-content {
    top:28px;
    
}

.administration-header span {
    margin-left:5px;
}

.administration-content {
    width: 100%;
    position:absolute;
    top:25px;
    bottom:0px;
    border-top: 1px solid #fff;
}

#administration-toolbar {
    height: 53px;
    width: 100%;
    background-color: #E9E9E9;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #B0B0B0;
    padding-left: 600px;
    padding-top: 7px;
    display: none;    /*mod */ 
}

#administration-workspace {
    position: absolute;
    width: 100%;
    top: 0px; /*   mod 80 */ 
    bottom: 0px;

} 

#administration-workspace-left {
   background-color: #E9E9E9;
   width: auto;
}

#administration-workspace-right {
    background-color: #E9E9E9;
    width: 350px;
}

#administration-workspace-right-content {
   
    left:1px;
    border-left: 1px solid #B0B0B0;
    width: 350px;
}

#administration-workspace-left-content, #administration-workspace-left-content-grp, #administration-workspace-left-content-thumb {
    top:-3px;
    left:0px;
    border-right: 1px solid #B0B0B0;
    
}

#administration-workspace-left-content-grp, #administration-workspace-left-content-thumb {
   display:none;
}

#administration-workspace-left-content-thumb {
    border: 0px;
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
    overflow:auto;
    border-right: 1px solid #B0B0B0;
    
    
    background-image:url(../images/backThumb.png);
    
}

.content {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-top: 1px solid #fff;
    overflow:hidden;
}

#administration-workspace-top-content {
    position: absolute;
    top: -1px;
    right: 0px;
    left:0px;
    border-bottom: 1px solid #B0B0B0;
}

#administration-workspace-bottom-content {
    position: absolute;
    top: 0px;
    right: 0px;
    left:0px;
    bottom:0px;
}

/* spliters */

.spliter_panel .vspliter {
    background-color: #DCDCDC !important;
    width: 7px  !important;
    border-left: 1px solid #fff;
    background-image: url(../images/handle-vertical.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.spliter_panel .hspliter {
    background-color: #DCDCDC !important;
    height: 7px !important;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #B0B0B0;
    background-image: url(../images/handle-horizontal.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

input[type=search] {
    height:20px;
    line-height:10px; /* only for win */ 
}

#pwdHiddenPart {
    display:none;
     width:230px;
}

#pwdObj {
    width:230px;
}

.hidden {
    display:none;
}

.userThumbList {
    list-style-type: none;
    list-style: none;
}

.userThumbList li{
    float:left;
    position:relative;
    height:100px;
    width:100px;
    border: 1px solid #E9E9E9;
    margin:20px;
    cursor:pointer;
    overflow: hidden;
}

.userThumbList li.selectedUser{
    float:left;
    position:relative;
    height:100px;
    width:100px;
    border: 1px solid rgba(139,177,243, 0.3);
    margin:20px;
    -webkit-border-radius: 10px;
    background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(139,177,243, 0.3)),
		to(rgba(139,177,243, 0.1))
	);
}

.userThumbList li:not(.selectedUser):hover{
    float:left;
    position:relative;
    height:100px;
    width:100px;
    border: 1px solid #999;
    margin:20px;
    -webkit-border-radius: 10px;
    background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(255,255,255, 0.8)),
		to(rgba(255,255,255, 0.1))
	);
}

.userThumbList .thumbBox {
    height: 95px;
    width: 100%;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: auto 80%;
    position: absolute;
}
.userThumbList span {
    bottom: 5px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    text-align: center;
    position: absolute;
}

#topCheckBox, #bottomCheckBox {
    margin-top: 8px;
}

#topCheckBox {
    display: none;
}

