/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/* 
    Document   : layouts1
    Created on : 23 nov. 2011, 11:20:53
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body {
    background-color: #eaeaea;
    
	font-family: "Lucida grande", "Segoe UI", Tahoma, sans-serif;
    font-size: 11px;
    color: #3d4246;
	overflow: hidden;
}


/**
 * ---------------------------------------------
 * Overriding ui-layout styles
 *
 * @section ui-layout
 * ---------------------------------------------
*/
.ui-layout-pane {
	padding: 10px 3px;
}

/**
 * ---------------------------------------------
 * @section administration
 * ---------------------------------------------
*/
.administration-header {
    height: 28px;
    width: 100%;
    background-image: url(../images/Header_Center.png);
    background-repeat: repeat-x;
    position:absolute;
    top:-3px;
    left:0px;
    }

.administration-header h1 {
	display: inline-block;
	margin: 9px 0 0 6px;
}

#administration-header {
    height: 28px;
    width: 100%;
    background-image: url(../images/Header_Center.png);
    background-repeat: repeat-x;
     position:absolute;
    top:-3px;
    left:0px;
    
}

#administration-toolbar {
    position: relative;
    height: 51px;
    margin: 5px 0 0 0;
    padding-left: 254px;
    border-bottom: 1px solid #B0B0B0;
    top :0px;
    display: none;    /*mod */ 
    z-index: 10;
}




/* WAFCONSOLE ********************************************************/
#wafConsole {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	
	/*border-top: 1px solid #929292;*/
	background-color: #fff;
	
}
#wafConsole .title h1 {
	padding: 0 0 0 16px;
	background-image: url(../image/right.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#wafConsole .content {
	top: 25px;
	padding: 0 0 0 0px;
	background-color: #fff;
        
	
}
#wafConsole .content p{
   
   margin-top: 0px;
   margin-bottom: 0px;
}


.title {
	position: relative;
	width: 100%;
	height: 27px;
	background-image: url(../image/Header_Center.png);
	background-repeat: repeat-x;
	background-position: bottom;
	cursor: default;
}
.title h1 {
	display: inline-block;
	margin: 5px 0 0 10px;
	font-size: 12px;
	font-weight: bold;
}
/* solutions ****************************************************************/
.solutions{
    position : relative;
    width: 100%;
    top : 20px;
    
}

.solutions .solution {
	height: 20px;
	line-height: 20px;
	
	margin: 0 0 1px 0;
	
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
        -ms-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
    
    
    cursor: pointer;
}


.solutions .solution span {
	display: block;
	height: 20px;
	line-height: 20px;
	padding: 0 0 0 24px;
}

.solutions .solution_selected span {
    background-image: url(../image/icon/16x16/green.png);
    background-repeat: no-repeat;
    background-position: 4px 2px;
}

.solutions .solution-hover {
    border-color: #808080;
    
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, hsl(214, 100%, 95%)), color-stop(0.6, hsl(214, 100%, 94%)), color-stop(1, hsl(214, 100%, 90%)));
	background-image: -webkit-linear-gradient(top, hsl(214, 100%, 95%) 0%, hsl(214, 100%, 94%) 60%, hsl(214, 100%, 90%) 100%);
	background-image:    -moz-linear-gradient(top, hsl(214, 100%, 95%) 0%, hsl(214, 100%, 94%) 60%, hsl(214, 100%, 90%) 100%);
	background-image:     -ms-linear-gradient(top, hsl(214, 100%, 95%) 0%, hsl(214, 100%, 94%) 60%, hsl(214, 100%, 90%) 100%);
	background-image:      -o-linear-gradient(top, hsl(214, 100%, 95%) 0%, hsl(214, 100%, 94%) 60%, hsl(214, 100%, 90%) 100%);
	background-image:         linear-gradient(top, hsl(214, 100%, 95%) 0%, hsl(214, 100%, 94%) 60%, hsl(214, 100%, 90%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8f2ff', endColorstr='#cbe2ff');
}
.solutions .solution-click {
    border-color: #af4500;
    
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, hsl(0, 0%, 100%)), color-stop(1, hsl(24, 100%, 71%)));
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(24, 100%, 71%) 100%);
	background-image:    -moz-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(24, 100%, 71%) 100%);
	background-image:     -ms-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(24, 100%, 71%) 100%);
	background-image:      -o-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(24, 100%, 71%) 100%);
	background-image:         linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(24, 100%, 71%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffa669');
}


/* APPLICATION ****************************************************************/
.application {
	position: relative;
	width: 400px;
	float: left;
	margin: 10px 0 0 10px;
	
	border-width: 1px;
	border-style: solid;
	border-color: rgb(245, 245, 245);
    
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
        -ms-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
	
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	   -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	        box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	
    cursor: pointer;
}

/* application state */
.application.hover {
    border-color: #808080;
    
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	   -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.application.selected {
    border-color: #af4500;
}



.application a {
	color: #2837f9;
}
.application > div,
.application > div > div {
	position: absolute;
}
.application > div > .top {
	top: 0;
}
.application > div > .right {
	right: 0;
}
.application > div > .bottom {
	bottom: 0;
}
.application > div > .left {
	left: 0;
}
.application hr {
	position: absolute;
	width: 342px;
	bottom: 0;
	left: 3px;
	height: 2px;
	border-top: 1px solid #929292;
	border-right: 0 none;
	border-bottom: 1px solid #fff;
	border-left: 0 none;
	
}

/* application - content */
.application .content {
	right: 10px;
	left: 10px;
	background-repeat: repeat;
}

/* application - head */
.application > .head {
	position: relative;
	height: 30px;
	
    -webkit-border-radius: 5px 5px 0 0;
       -moz-border-radius: 5px 5px 0 0;
        -ms-border-radius: 5px 5px 0 0;
         -o-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0;
	
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, hsl(0, 0%, 100%)), color-stop(1, hsl(0, 0%, 80%)));
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(24, 0%, 80%) 100%);
	background-image:    -moz-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(24, 0%, 80%) 100%);
	background-image:     -ms-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(24, 0%, 80%) 100%);
	background-image:      -o-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(24, 0%, 80%) 100%);
	background-image:         linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(24, 0%, 80%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cbcbcb');
}

/* application - head - state */
.application.hover > .head {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, hsl(214, 100%, 95%)), color-stop(0.6, hsl(214, 100%, 94%)), color-stop(1, hsl(214, 100%, 90%)));
	background-image: -webkit-linear-gradient(top, hsl(214, 100%, 95%) 0%, hsl(214, 100%, 94%) 60%, hsl(214, 100%, 90%) 100%);
	background-image:    -moz-linear-gradient(top, hsl(214, 100%, 95%) 0%, hsl(214, 100%, 94%) 60%, hsl(214, 100%, 90%) 100%);
	background-image:     -ms-linear-gradient(top, hsl(214, 100%, 95%) 0%, hsl(214, 100%, 94%) 60%, hsl(214, 100%, 90%) 100%);
	background-image:      -o-linear-gradient(top, hsl(214, 100%, 95%) 0%, hsl(214, 100%, 94%) 60%, hsl(214, 100%, 90%) 100%);
	background-image:         linear-gradient(top, hsl(214, 100%, 95%) 0%, hsl(214, 100%, 94%) 60%, hsl(214, 100%, 90%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8f2ff', endColorstr='#cbe2ff');
}
.application.selected > .head {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, hsl(0, 0%, 100%)), color-stop(1, hsl(24, 100%, 71%)));
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(24, 100%, 71%) 100%);
	background-image:    -moz-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(24, 100%, 71%) 100%);
	background-image:     -ms-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(24, 100%, 71%) 100%);
	background-image:      -o-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(24, 100%, 71%) 100%);
	background-image:         linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(24, 100%, 71%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffa669');
}


.application > .head h2 {
	margin: 0;
	padding: 7px 0 0 7px;
	
	font-size: 12px;
	font-weight: normal;
}
.application > .head button.action {
	position: absolute;
	width: 24px;
	height: 24px;
	right: 0;
	top: 3px;
	background-image: url(../image/icon/16x16/cog.png);
}

/* application - toolbar */
.application > .toolbar {
	position: relative;
	height: 30px;
}
.application > .toolbar li {
	height: 26px;
	margin: 0 5px 0 0;
}
.application > .toolbar button {
	width: 24px;
	height: 24px;
	margin: 2px 0 0 0;
}
.application .toolbar > .border.right {
	height: 30px;
	background-image: url(../image/frame/Frame_CenterRight.png);
	background-position: right top;
}
.application .toolbar > .border.left {
	height: 30px;
	background-image: url(../image/frame/Frame_CenterLeft.png);
	background-position: left top;
}
.application .toolbar > .content {
	height: 30px;
	background-image: url(../image/frame/Frame_CenterCenter.png);
	background-repeat: repeat-x;
}


/* application - body */
.application > .body {
	position: relative;
	padding: 0 10px 10px 10px;
}

.application > .body > .border.right {
	top: 0;
	bottom: 10px;
	background-image: url(../image/frame/Frame_CenterRight.png);
	background-position: right;
}
.application > .body > .border.bottom {
	right: 10px;
	left: 10px;
	background-image: url(../image/frame/Frame_BottomCenter.png);
	background-position: bottom;
}
.application > .body > .border.left {
	top: 0;
	bottom: 10px;
	background-image: url(../image/frame/Frame_CenterLeft.png);
	background-position: left;
}


.application > .body > .content {
	position: relative;
	left: 0;
	padding: 10px 0 0 0;
	background-image: url(../image/frame/Frame_CenterCenter.png);
}
.application > .body > .content td {
	line-height: 20px;
	padding: 0 2px;
}


/* application - input */
.application input[type=text] {
	width: 100px;
	height: 18px;
	padding: 0 3px;
	border: 1px solid transparent;
	background-color: transparent;
  	line-height: 18px;
}
.application input[type=checkbox] {
	display: none;
	margin-top: 2px;
}


/* application - status */
.application .status {
	width: 16px;
	height: 16px;
	margin: 0 3px;
	float: left;
	
	background-image: url(../image/icon/16x16/red.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.application .status.started {
	background-image: url(../image/icon/16x16/green.png);
}
.application .status.loading {
	background-image: url(../image/icon/ajax-loader.gif);
}


/* application - editable */
.application.editable input[type=text] {
	border: 1px solid #cfcfcf;
	background-color: #eaeaea;
}
.application.editable input[type=checkbox] {
	display: inline-block;
}


/*   */

.administration-content {
    position:absolute;
    width: 100%;
    left: 0;
    top:25px;
    bottom:0px;
    border-top: 1px solid #fff;
    /*width:280px;*/
}

.portlet-content {
    width: 100%;
    padding-top: 5px;
}



.studio-icon-remove {
	height: 20px;
	width: 20px;
    background-repeat: no-repeat;
    background-position: 2px 2px;
    background-color: transparent;
    border: none;
    overflow: hidden;
   
    background-image: url("/image/icon/remove.png");
}

.administration-content .file {
	height: 20px;
	line-height: 20px;
	margin: 0px 3px 1px 3px;
	padding-left: 4px;
	
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
    
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
        -ms-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
    
    cursor: pointer;
}

.administration-content .file span {
	float: left;
}
.administration-content .file span.tdcol {
	float: right;
	line-height: 0;
}

.administration-content .file-hover {
    border-color: #808080;
    
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, hsl(214, 100%, 95%)), color-stop(0.6, hsl(214, 100%, 94%)), color-stop(1, hsl(214, 100%, 90%)));
	background-image: -webkit-linear-gradient(top, hsl(214, 100%, 95%) 0%, hsl(214, 100%, 94%) 60%, hsl(214, 100%, 90%) 100%);
	background-image:    -moz-linear-gradient(top, hsl(214, 100%, 95%) 0%, hsl(214, 100%, 94%) 60%, hsl(214, 100%, 90%) 100%);
	background-image:     -ms-linear-gradient(top, hsl(214, 100%, 95%) 0%, hsl(214, 100%, 94%) 60%, hsl(214, 100%, 90%) 100%);
	background-image:      -o-linear-gradient(top, hsl(214, 100%, 95%) 0%, hsl(214, 100%, 94%) 60%, hsl(214, 100%, 90%) 100%);
	background-image:         linear-gradient(top, hsl(214, 100%, 95%) 0%, hsl(214, 100%, 94%) 60%, hsl(214, 100%, 90%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8f2ff', endColorstr='#cbe2ff');
	
	/* juste for ie */
    background-color: #eaeaea;
}

#container {
  
    height : 100%;
    
}

