/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/**
 * Generic toolbar styles
 *
*/


/**
 * -------------------------------------------------------
 * @section Main
 * -------------------------------------------------------
*/
.toolbar {
	cursor: default;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	     -o-user-select: none;
	        user-select: none;
	
	font-family: 'Lucida grande', 'Segoe UI', Tahoma, sans-serif;
	font-size: 11px;
	color: rgb(61, 66, 70);
}


/**
 * -------------------------------------------------------
 * @section Toolbar element
 * -------------------------------------------------------
*/
.toolbar .toolbar-element {
	position: relative;
	display: inline-block;
    float: left;
	margin: auto;
	width: auto;
	height: auto;
}
.toolbar-element + .toolbar-element {
	margin-left: 12px;
}


/**
 * -------------------------------------------------------
 * @subsection Toolbar separator
 * -------------------------------------------------------
*/
.toolbar .toolbar-separator {
	width: 1px;
	height: 34px;
	margin-top: 2px;
	background-color: rgb(155, 155, 155);
}


/**
 * -------------------------------------------------------
 * @subsection Toolbar button
 * -------------------------------------------------------
*/
.toolbar-button {
	width: auto;
}


/**
 * -------------------------------------------------------
 * @subsection Toolbar icon
 * -------------------------------------------------------
*/
.toolbar-icon {
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: 0 0;
}


/**
 * -------------------------------------------------------
 * @subsubsection Small toolbar icon
 * -------------------------------------------------------
*/
.toolbar-small .toolbar-icon {
	width: 24px;
	height: 24px;
}

.toolbar-small .administration-verify .toolbar-icon {
	background-image: url("/images/toolbar/small/verify.png");
}
.toolbar-small .administration-repair .toolbar-icon {
	background-image: url("/images/toolbar/small/repair.png");
}
.toolbar-small .administration-compact .toolbar-icon {
	background-image: url("/images/toolbar/small/compact.png");
}
.toolbar-small .administration-backup .toolbar-icon {
	background-image: url("/images/toolbar/small/backup.png");
}
.toolbar-small .administration-restore .toolbar-icon {
	background-image: url("/images/toolbar/small/restore.png");
}
.toolbar-small .administration-infos .toolbar-icon {
	background-image: url("/images/toolbar/small/infos.png");
}


/* state */
.toolbar-small .toolbar-element.studio-state-hover .toolbar-icon {
	background-position: 0 -48px;
}
.toolbar-small .toolbar-element.studio-state-active .toolbar-icon,
.toolbar-small .toolbar-element.studio-state-hover.studio-state-active .toolbar-icon {
	background-position: 0 -24px;
}
.toolbar-small .toolbar-element.studio-state-disabled .toolbar-icon {
	background-position: 0 -72px;
}


/**
 * -------------------------------------------------------
 * @subsubsection Standard toolbar icon
 * -------------------------------------------------------
*/
.toolbar-standard .toolbar-icon {
	width: 32px;
	height: 32px;
}

.toolbar-standard .administration-verify .toolbar-icon {
	background-image: url("/images/toolbar/standard/verify.png");
}
.toolbar-standard .administration-repair .toolbar-icon {
	background-image: url("/images/toolbar/standard/repair.png");
}
.toolbar-standard .administration-compact .toolbar-icon {
	background-image: url("/images/toolbar/standard/compact.png");
}
.toolbar-standard .administration-backup .toolbar-icon {
	background-image: url("/images/toolbar/standard/backup.png");
}
.toolbar-standard .administration-restore .toolbar-icon {
	background-image: url("/images/toolbar/standard/restore.png");
}
.toolbar-standard .administration-infos .toolbar-icon {
	background-image: url("/images/toolbar/standard/infos.png");
}


/* state */
.toolbar-standard .toolbar-element.studio-state-hover .toolbar-icon {
	background-position: 0 -64px;
}
.toolbar-standard .toolbar-element.studio-state-active .toolbar-icon,
.toolbar-standard .toolbar-element.studio-state-hover.studio-state-active .toolbar-icon {
	background-position: 0 -32px;
}
.toolbar-standard .toolbar-element.studio-state-disabled .toolbar-icon {
	background-position: 0 -96px;
}
