//Definition du Rootdu depot
DEPOT_ROOT=../../../../..
QD_ROOT=$(DEPOT_ROOT)/4eDimension/WAK2
//Xerces Definition
VERSION_XERCES = 3.0.1
GCC_PREPROCESSOR_DEFINITIONS_XERCES = XERCES_3_0_1;

//ICU Definition
VERSION_ICU = 4.8

//WebKit Version
VERSION_WEBKIT = 742

//Architectures
ARCHS = x86_64
SDKROOT = macosx10.6
ONLY_ACTIVE_ARCH = YES
ONLY_ACTIVE_ARCH = NO
VALID_ARCHS = i386 x86_64

//Build Locations
SYMROOT = $(SRCROOT)/../../../Apps/Macho $(ARCHS)
OBJROOT = $(SRCROOT)/build/$(PRODUCT_NAME)/$(CONFIGURATION)/$(CURRENT_ARCH)
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/$(CONFIGURATION)
SHARED_PRECOMPS_DIR = $(SRCROOT)/SharedPrecompiledHeaders/$(PRODUCT_NAME)/$(CURRENT_ARCH)/$(CONFIGURATION)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/$(PRODUCT_NAME)/$(CURRENT_ARCH)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)

//Compiler Version
//GCC_VERSION = 4.2

//Deployment
INSTALL_PATH = $(HOME)/Applications
MACOSX_DEPLOYMENT_TARGET = 10.5
SKIP_INSTALL = YES
SEPARATE_STRIP = YES

//Linking
MACH_O_TYPE = mh_execute
PREBINDING = NO
OTHER_LDFLAGS = $(OTHER_LDFLAGS_$(CONFIGURATION));
OTHER_LDFLAGS_Debug = -weak_framework icuDebug //$(WEAK_OPENLINK)
OTHER_LDFLAGS_Coverage = -lgcov -weak_framework icuDebug //$(WEAK_OPENLINK)
OTHER_LDFLAGS_Beta = -weak_framework icuBeta //$(WEAK_OPENLINK)
OTHER_LDFLAGS_Release = -weak_framework icu //$(WEAK_OPENLINK)
OTHER_LDFLAGS_Performance = -weak_framework icuPerf //$(WEAK_OPENLINK)

//Packaging
PRODUCT_NAME = Wakanda Server
INFOPLIST_FILE = ../../Resources/Info.plist
WRAPPER_EXTENSION = app

//Search Path
FRAMEWORK_SEARCH_PATHS_XERCES = "${DEPOT_ROOT}/xerces/$(VERSION_XERCES)/Frameworks $(ARCHS)"
FRAMEWORK_SEARCH_PATHS_ICU = "$(DEPOT_ROOT)/icu/$(VERSION_ICU)/Frameworks $(ARCHS)" 
FRAMEWORK_SEARCH_PATHS = "${DEPOT_ROOT}/XToolbox/WAK2/Frameworks $(ARCHS)" $(FRAMEWORK_SEARCH_PATHS_XERCES) $(FRAMEWORK_SEARCH_PATHS_ICU) $(DEPOT_ROOT)/cppunit/1.11.4/Frameworks "$(DEPOT_ROOT)/webkit/${VERSION_WEBKIT}/JavaScriptCore/build_$(ARCHS)/$(CONFIGURATION)" "$(DEPOT_ROOT)/iODBC/3.52.5/Frameworks";

HEADER_SEARCH_PATHS_XERCES = "${DEPOT_ROOT}/xerces/$(VERSION_XERCES)/xerces/src"
HEADER_SEARCH_PATHS_JSC    = "${DEPOT_ROOT}/webkit/${VERSION_WEBKIT}/JavaScriptCore/ForwardingHeaders" "$(DEPOT_ROOT)/webkit/${VERSION_WEBKIT}" "$(DEPOT_ROOT)/webkit/${VERSION_WEBKIT}/WebCore/inspector"
HEADER_SEARCH_PATHS = ${HEADER_SEARCH_PATHS_JSC} ../../Sources ../../../Common/Sources ${DEPOT_ROOT}/HelperTools/1.0/Sources ${DEPOT_ROOT}/XToolbox/WAK2 ${DEPOT_ROOT}/Components/WAK2 ${DEPOT_ROOT}/XToolbox/WAK2/KernelIPC/Sources ${DEPOT_ROOT}/XToolbox/WAK2/ServerNet/Headers ${DEPOT_ROOT}/XToolbox/WAK2/SQLConnector/Headers

//GCC Language
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PFE_FILE_C_DIALECTS = c++
GCC_PREFIX_HEADER = $(GCC_PREFIX_HEADER_$(CONFIGURATION));
GCC_PREFIX_HEADER_Debug = ${SRCROOT}/RIAServerDebugMacho.pch
GCC_PREFIX_HEADER_Coverage = ${SRCROOT}/RIAServerDebugMacho.pch
GCC_PREFIX_HEADER_Beta = ${SRCROOT}/RIAServerFinalMacho.pch
GCC_PREFIX_HEADER_Release = ${SRCROOT}/RIAServerFinalMacho.pch
GCC_PREFIX_HEADER_Performance = ${SRCROOT}/RIAServerFinalMacho.pch

//GCC Code Generation
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_THREADSAFE_STATICS = NO
GCC_DYNAMIC_NO_PIC = YES

//GCC Warning
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = NO
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = NO
WARNING_CFLAGS = $(WARNING_CFLAGS) -Wno-multichar
//GCC_WARN_UNUSED_VALUE = YES
//GCC_WARN_SHADOW = YES

//Build Option
//DEBUG_INFORMATION_FORMAT = dwarf

//GCC 4.2 Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_$(CONFIGURATION)); 

GCC_PREPROCESSOR_DEFINITIONS_Debug = $(GCC_PREPROCESSOR_DEFINITIONS_XERCES) VERSIONDEBUG=1 WEBKIT_INTEGRATED=1 RIA_SERVER=1;
GCC_PREPROCESSOR_DEFINITIONS_Coverage = $(GCC_PREPROCESSOR_DEFINITIONS_XERCES) VERSIONDEBUG=1 WEBKIT_INTEGRATED=1 RIA_SERVER=1;
GCC_PREPROCESSOR_DEFINITIONS_Beta = $(GCC_PREPROCESSOR_DEFINITIONS_XERCES) VERSIONDEBUG=0 WITH_DEBUGMSG=1 WITH_ASSERT=1 WEBKIT_INTEGRATED=1 RIA_SERVER=1;
GCC_PREPROCESSOR_DEFINITIONS_Performance = $(GCC_PREPROCESSOR_DEFINITIONS_XERCES) VERSIONDEBUG=0 WEBKIT_INTEGRATED=1 RIA_SERVER=1;
GCC_PREPROCESSOR_DEFINITIONS_Release = $(GCC_PREPROCESSOR_DEFINITIONS_XERCES) VERSIONDEBUG=0 WEBKIT_INTEGRATED=1 RIA_SERVER=1;
